<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.pm.sub.autotest.mapper.TestProjectMapper">

    <sql id="base_column">
        id,name,createTime
    </sql>

    <sql id="base_filter">
        <if test="params.id != null">
            and id = #{params.id}
        </if>
        <if test="params.name != null">
            and name = #{params.name}
        </if>
        <if test="params.createTime != null">
            and createTime = #{params.createTime}
        </if>

    </sql>

    <select id="count" resultType="int">
        select count(1) from test_project
        <where>
            <if test="params!=null">
                <include refid="base_filter"></include>
            </if>
            <if test="custom!=null">
                and ${custom}
            </if>
        </where>
    </select>


    <select id="list" resultType="com.fang.pm.sub.autotest.bean.TestProject">
        select
        <include refid="base_column"/>
        from test_project
        <where>
            <if test="params!=null">
                <include refid="base_filter"></include>
            </if>
            <if test="custom!=null">
                and ${custom}
            </if>
        </where>
        <if test="sort!=null">
            order by ${sort}
        </if>
        <if test="offset!=null">
            <if test="limit!=null and limit!=-1">
                limit #{offset},#{limit}
            </if>
        </if>

    </select>


    <insert id="insert" parameterType="com.fang.pm.sub.autotest.bean.TestProject">
        insert into test_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="obj.id != null">
                id,
            </if>
            <if test="obj.name != null">
                name,
            </if>
            <if test="obj.createTime!= null">
                createTime,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="obj.id  != null">
                #{params.id}
            </if>
            <if test="obj.name != null">
                #{obj.name},
            </if>
            <if test="obj.createTime != null">
                #{obj.createTime},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="map">
        update test_project
        <set>
            <if test="obj.id != null">
                id = #{obj.id},
            </if>
            <if test="obj.name != null">
                name = #{obj.name},
            </if>
            <if test="obj.createTime != null">
                createTime = #{obj.createTime},
            </if>
        </set>
        <where>
            <if test="params != null">
                <include refid="base_filter"/>
            </if>
        </where>
    </update>

    <update id="del" parameterType="map">
        delete from test_project
        <where>
            <if test="params != null">
                <include refid="base_filter"/>
            </if>
        </where>
    </update>


</mapper>